@import url("variables.css");

body {
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}

input {
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: 0;
}
input[type="submit"] {
  cursor: pointer;
}


/**
* Bounce to the left side
*/
@-webkit-keyframes bounceLeft {
  0% {
    -webkit-transform: translate3d(100%, -50%, 0);
    transform: translate3d(100%, -50%, 0);
  }
  50% {
    -webkit-transform: translate3d(-30px, -50%, 0);
    transform: translate3d(-30px, -50%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
}
@keyframes bounceLeft {
  0% {
    -webkit-transform: translate3d(100%, -50%, 0);
    transform: translate3d(100%, -50%, 0);
  }
  50% {
    -webkit-transform: translate3d(-30px, -50%, 0);
    transform: translate3d(-30px, -50%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
}
/**
* Bounce to the left side
*/
@-webkit-keyframes bounceRight {
  0% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  50% {
    -webkit-transform: translate3d(calc(100% + 30px), -50%, 0);
    transform: translate3d(calc(100% + 30px), -50%, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, -50%, 0);
    transform: translate3d(100%, -50%, 0);
  }
}
@keyframes bounceRight {
  0% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  50% {
    -webkit-transform: translate3d(calc(100% + 30px), -50%, 0);
    transform: translate3d(calc(100% + 30px), -50%, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, -50%, 0);
    transform: translate3d(100%, -50%, 0);
  }
}
/**** Show Sign Up form ****/ 

@-webkit-keyframes showSignUp {
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showSignUp {
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/**** Page background ****/
.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url(/img/loginBg.jpg) no-repeat center;
  background-size: cover;
}
.user-form-options {
  position: relative;
  width: 80%;
}
.user-options-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.85);
  border-radius: 3px;
}

/**
* Registered and Unregistered user box and text
*/
.user-login,
.user-signup {
  width: 50%;
  padding: 75px 45px;
  color: #fff;
  font-weight: 300;
}

.user-login-title,
.user-signup-title {
  margin-bottom: 15px;
  font-size: 1.66rem;
  line-height: 1em;
}

.user-signup-description,
.user-login-description {
  font-size: 0.83rem;
  line-height: 1.4em;
}

.user-login-button,
.user-signup-button {
  margin-top: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px 30px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 0.2rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.user-login-button:hover,
.user-signup-button:hover {
  color: rgba(34, 34, 34, 0.85);
  background-color: #ccc;
}

/**
* Login and signup forms
*/
.user-option-form {
  position: absolute;
  top: 50%;
  left: 30px;
  width: calc(50% - 30px);
  min-height: 420px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  -webkit-transform: translate3d(100%, -50%, 0);
  transform: translate3d(100%, -50%, 0);
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.user-option-form .user_forms-login {
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}
.user-option-form .form-title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1em;
  text-transform: uppercase;
  color: var(--fourth-color);
  letter-spacing: 0.1rem;
}
.user-option-form .form-fild:not(:last-of-type) {
  margin-bottom: 20px;
}
.user-option-form .form-fild-input {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 6px 18px 10px 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: var(--second-color);
  letter-spacing: 0.1rem;
  transition: border-color 0.2s ease-in-out;
}
.user-option-form .form-fild-input:focus {
  border-color: gray;
}
.user-option-form .forms-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}
.user-option-form .forms-button-forgot {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1rem;
  color: var(--second-color);
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}
.user-option-form .forms-button-forgot:hover {
  color: var(--fourth-color);
}
.user-option-form .forms-button-action {
  background-color: var(--fourth-color);
  border-radius: 3px;
  padding: 10px 35px;
  font-size: 1rem;
  font-family: Quicksand;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: background-color 0.2s ease-in-out;
}
.user-option-form .forms-button-action:hover {
  background-color: var(--fourth-color);
  opacity: 0.5;
}
.user-option-form .user_forms-signup,
.user-option-form .user_forms-login {
  position: absolute;
  top: 70px;
  left: 40px;
  width: calc(100% - 80px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.5s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.user-option-form .user_forms-signup {
  -webkit-transform: translate3d(120px, 0, 0);
  transform: translate3d(120px, 0, 0);
}
.user-option-form .user_forms-signup .forms-button {
  justify-content: flex-end;
}
.user-option-form .user_forms-login {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  visibility: visible;
}

/**
* Triggers
*/
.user-option-form.bounceLeft {
  -webkit-animation: bounceLeft 1s forwards;
  animation: bounceLeft 1s forwards;
}
.user-option-form.bounceLeft .user_forms-signup {
  -webkit-animation: showSignUp 1s forwards;
  animation: showSignUp 1s forwards;
}
.user-option-form.bounceLeft .user_forms-login {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate3d(-120px, 0, 0);
  transform: translate3d(-120px, 0, 0);
}
.user-option-form.bounceRight {
  -webkit-animation: bounceRight 1s forwards;
  animation: bounceRight 1s forwards;
}

/**
* Responsive 990px
*/
@media screen and (max-width: 990px) {
  .user-option-form {
    min-height: 350px;
  }
  .user-option-form .forms-button {
    flex-direction: column;
  }
  .user-option-form .user_forms-login .forms-button-action {
    margin-top: 30px;
  }
  .user-option-form .user_forms-signup,
  .user-option-form .user_forms-login {
    top: 40px;
  }

  .user-login,
  .user-signup {
    padding: 50px 45px;
  }
}
