@import url("variables.css");

.offer-container {
	width: 100%;
	margin-top: 50px;
}

.offer-container h2 {
	text-align: center;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	font-size: 30px;
	color: inherit;
	margin-bottom: 40px;

}

.offer-container h2::after {
	width: 100px;
	height: 2px;
	background-color: var(--fourth-color);
	display: block;
	margin: 0 auto;
	content: "";
	opacity: 0.7;
	color: var(--second-color);
}


